# --- File and Path Constants ---
MESSAGE_FILE=message.txt
NUMBERS_FILE=numbers.txt
DB_FILE=archivio.mdb
USER_DATA_DIR=watshappProfile/
LIB_DIR=lib/

# --- Selenium Constants ---
DEFAULT_TIMEOUT=16
LOGIN_TIMEOUT=120

# --- Operational Constants ---
WORK_START_HOUR=9
WORK_END_HOUR=22
